<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project Upgrade</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>



<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
          <img src="static/cisco-logo.jpg" height="42" width="48" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<div class="container">
  <h2>Endpoint Details form</h2>
  <form action="/" method="POST">
    <div class="form-group">
      <label for="ip">Host Name or IP:</label>
      <input type="text" class="form-control" id="ip" placeholder="Enter IP" name="ip" required>
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" class="form-control" id="pwd" placeholder="Enter Password" name="password">
    </div>

    <!--
    
     <div class="form-group">
        <label for="sel1">Select Software:</label>
        <select class="form-control" id="sel1" name='sv'>
            <option>cmterm-s53200ce9_7_2-3f94b3cda3f.k3.cop.sgn</option>
            <option>cmterm-s53200ce9_7_1-30bff6140aa.k3.cop.sgn</option>
            <option>cmterm-s53200ce9_5_1-be5deaf82e6.k3.cop.sgn</option>
            <option>s52040ce9_7_2-3f94b3cda3f.pkg</option>
            <option>Coming Soon...</option>
        </select>
      </div> 
    -->  

      <div class="form-group">
          <label for="sel1">Select Device Type:</label>
          <select class="form-control" id="sel1" name='sv'>
              {%for i in device%}
                <option>{{i.series}}</option>
              {%endfor%}
          </select>
        </div> 

      <div class="form-group">
        <label for="sel1">Select Software:</label>
        <select class="form-control" id="sel1" name='sv'>
            {%for i in device%}
              <option>{{i.software_version}}</option>
            {%endfor%}
        </select>
      </div> 

      <div class="form-group">
          <label for="sel1">Select Device Type:</label>
          <select class="form-control" id="sel1" name='sv'>
              {%for i in d%}
                <option>{{i}}</option>
              {%endfor%}
          </select>
        </div> 

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div>
  <p>{{d}}</p>
</div>

</body>
</html>